
[settings]
experimental = true
install_before = "7d"
{{- if .language_ruby }}
ruby.compile = false
{{- end }}

[tools]
chezmoi = "latest"
starship = "latest"
bat = "latest"
zoxide = "latest"
fzf = "latest"
ripgrep = "latest"
eza = "latest"
"github:zellij-org/zellij" = "0.44.1"
"github:dprint/dprint" = "latest"
"github:charmbracelet/glow" = "latest"
"github:sxyazi/yazi" = "latest"
"github:jesseduffield/lazygit" = "latest"
"github:thomasschafer/scooter" = "latest"
"github:dandavison/delta" = "latest"
marksman = "latest"

{{- if .taskwarrior }}
task = "latest"
{{- $linuxArm := and (eq .chezmoi.os "linux") (or (eq .chezmoi.arch "arm64") (eq .chezmoi.arch "aarch64")) }}
{{- if not $linuxArm }}
"aqua:kdheepak/taskwarrior-tui" = "latest"
{{- end }}
{{- end }}

{{- if .develop }}

{{- if .opencode }}
opencode = "latest"
{{- end }}
"github:max-sixty/worktrunk" = { version = "latest", bin = "wt" }

bun = "latest"
yq = "latest"
shfmt = "latest"
helm-ls = "latest"
"npm:prettier" = "latest"
"npm:yaml-language-server" = "latest"
"npm:bash-language-server" = "latest"
"npm:vscode-langservers-extracted" = "latest"
"npm:dockerfile-language-server-nodejs" = "latest"
"npm:@microsoft/compose-language-service" = "latest"

{{- if .language_go }}
go = "latest"
gotestsum = "latest"
gofumpt = "latest"
"aqua:golang.org/x/tools/gopls" = "latest"
"go:github.com/go-delve/delve/cmd/dlv" = "latest"
"github:golangci/golangci-lint" = "latest"
{{- end }}

{{- if .language_ruby }}
ruby = "latest"
"gem:ruby-lsp" = { version = "latest", depends = ["ruby"] }
"gem:standardrb" = { version = "latest", depends = ["ruby"] }
{{- end }}

{{- if .language_elixir }}
rebar = "latest"
erlang = "latest"
elixir = "latest"
expert = "latest"
{{- end }}

{{- if or .language_rust .build_helix_from_source }}
rust = "stable"
{{- end }}

{{- if .language_scala }}
java = "temurin-21"
"github:scalameta/scalafmt" = "latest"
"github:coursier/coursier" = { version = "latest", asset_pattern = "coursier", bin = "cs" }
{{- end }}

{{- end }}
