{{- $hasGui := promptBoolOnce . "has_gui" "Does this machine have a GUI/desktop" -}}
{{- $manageLimaVmsFromThisHost := promptBoolOnce . "manage_lima_vms_from_this_host" "Do you manage Lima VMs from this host" -}}

{{- $develop := promptBoolOnce . "develop" "Will you develop on this machine" -}}
{{- $buildHelixFromSource := false -}}
{{- $languageGo := false -}}
{{- $languageRuby := false -}}
{{- $languageScala := false -}}
{{- $languageRust := false -}}
{{- $languageElixir := false -}}
{{- $needsOpencode := false -}}
{{- if $develop -}}
{{- $buildHelixFromSource = promptBoolOnce . "build_helix_from_source" "Should Helix be built from source on this machine" -}}
{{- $languageGo = promptBoolOnce . "language_go" "Should Go toolchains be installed on this machine" -}}
{{- $languageRuby = promptBoolOnce . "language_ruby" "Should Ruby toolchains be installed on this machine" -}}
{{- $languageScala = promptBoolOnce . "language_scala" "Should Scala toolchains be installed on this machine" -}}
{{- $languageRust = promptBoolOnce . "language_rust" "Should Rust toolchains be installed on this machine" -}}
{{- $languageElixir = promptBoolOnce . "language_rust" "Should Elixir toolchains be installed on this machine" -}}
{{- $needsOpencode := promptBoolOnce . "needs_opencode" "Will you need opencode on this machine" -}}
{{- end -}}

{{- $needsTaskwarrior := promptBoolOnce . "needs_taskwarrior" "Should Taskwarrior be setup on this machine" -}}

$jfrog = true
$jfrog = {{ promptBoolOnce . "jfrog" "Do you need jfrog support?" }}

$docker_podman_shim = true
$docker_podman_shim {{ promptBoolOnce . "docker_podman_shim" "Should podman be aliased to docker?" }}

[data]
develop = {{ $develop }}
opencode = {{ $needsOpencode }}
taskwarrior = {{ $needsTaskwarrior }}
gopass = {{ promptBoolOnce . "gopass" "Should gopass be installed?" }}
has_gui = {{ $hasGui }}
manage_lima_vms_from_this_host = {{ $manageLimaVmsFromThisHost }}
build_helix_from_source = {{ $buildHelixFromSource }}
language_go = {{ $languageGo }}
language_ruby = {{ $languageRuby }}
language_scala = {{ $languageScala }}
language_rust = {{ $languageRust }}
language_elixir = {{ $languageElixir }}
git_author_name = {{ promptStringOnce . "git_author_name" "Git author name" | quote }}
git_email = {{ promptStringOnce . "git_email" "Git author email" | quote }}
git_ssh_key_name = {{ promptStringOnce . "git_ssh_key_name"  "Name of the ssh key"  | quote }}
github_username = {{ promptStringOnce . "github_username" "GitHub username" | quote }}
jfrog = $jfrog
docker_podman_shim = $docker_podman_shim

[warnings]
configFileTemplateHasChanged = false
