{{- $darwin := eq .chezmoi.os "darwin" -}}

{{- if or  (not .manage_lima_vms_from_this_host) }}
.local/bin/,vm-shell
.local/bin/,vm-create
.local/bin/,vm-ip
.local/bin/,vm-open
{{- end }}


{{- if not .jfrog }}
.local/bin/,vm-sync-jfrog
.config/zsh/rc.d/20_jfrog
{{- end }}

{{- if not .build_helix_from_source }}
./local/bin/,helix-install
{{- end }}

{{- if not .docker_podman_shim }}
.local/bin/docker
{{- end }}

{{- if not .jfrog }}
.local/bin/executable_,vm-sync-jfrog
{{- end }}

{{- if not .has_gui }}
.config/wezterm
.config/wezterm/**
{{- end }}

{{- if not .develop }}
.npmrc
.yarnrc
.yarnrc.yml
{{- end }}

{{- if not $darwin }}
.config/zsh/rc.d/05_homebrew
Library/Application Support/lazygit/config.yml
{{- end }}

{{- if not .opencode }}
.config/opencode
.config/opencode/**
.config/zsh/rc.d/20_opencode
{{- end }}

{{- if not .taskwarrior }}
.taskrc
.taskrc.d
.taskrc.d/**
.local/bin/zellij-task-popup
{{- end }}

{{- if not .language_scala }}
.local/bin/,setup-scala
{{- end }}
