{{- $darwin := eq .chezmoi.os "darwin" -}}
{{- $needsTaskwarrior := .needs_taskwarrior -}}
{{- $manageLimaVMsFromThisHost := .manage_lima_vms_from_this_host -}}
{{- $hasGui := .has_gui -}}
{{- $languageScala := .language_scala -}}

{{- if or  (not $manageLimaVMsFromThisHost) }}
.local/bin/,vm-shell
.local/bin/,vm-create
.local/bin/,vm-sync-jfrog
.local/bin/,vm-ip
.local/bin/,vm-open
{{- end }}

{{- if not $hasGui }}
.config/wezterm
.config/wezterm/**
{{- end }}

{{- if not .develop }}
.ssh/config
.npmrc
.yarnrc
.yarnrc.yml
{{- end }}

{{- if not $darwin }}
.config/zsh/rc.d/05_homebrew
Library/Application Support/lazygit/config.yml
{{- end }}

{{- if not .needs_opencode }}
.config/opencode
.config/opencode/**
{{- end }}

{{- if not $needsTaskwarrior }}
.taskrc
.taskrc.d
.taskrc.d/**
.local/bin/,task-popup
{{- end }}

{{- if not $languageScala }}
.local/bin/,setup-scala
{{- end }}
