// ~/.config/zellij/config.kdl

theme "catppuccin-mocha"

simplified_ui false
pane_frames false
default_mode "locked"
default_layout "default"
copy_on_select true
scrollback_editor "hx"
mouse_mode true
session_serialization true
show_startup_tips false

keybinds {
    unbind "Ctrl g"

    locked {
        bind "Alt a" { SwitchToMode "Normal"; }
    }

    shared_except "locked" {
        bind "Alt a" { SwitchToMode "Locked"; }
    }
}
