{{- $needsTaskwarrior := false -}}
{{- if hasKey . "needs_taskwarrior" }}{{- $needsTaskwarrior = .needs_taskwarrior }}{{- end }}
{{- $hasGui := false -}}
{{- if hasKey . "has_gui" }}{{- $hasGui = .has_gui }}{{- end }}
{{- $buildHelixFromSource := false -}}
{{- if hasKey . "build_helix_from_source" }}{{- $buildHelixFromSource = .build_helix_from_source }}{{- end }}
{{- $languageGo := false -}}
{{- if hasKey . "language_go" }}{{- $languageGo = .language_go }}{{- end }}
{{- $languageRuby := false -}}
{{- if hasKey . "language_ruby" }}{{- $languageRuby = .language_ruby }}{{- end }}
{{- $languageScala := false -}}
{{- if hasKey . "language_scala" }}{{- $languageScala = .language_scala }}{{- end }}
{{- $languageRust := false -}}
{{- if hasKey . "language_rust" }}{{- $languageRust = .language_rust }}{{- end }}
develop = {{ .develop }}
needs_opencode = {{ .needs_opencode }}
needs_taskwarrior = {{ $needsTaskwarrior }}
has_gui = {{ $hasGui }}
build_helix_from_source = {{ $buildHelixFromSource }}
language_go = {{ $languageGo }}
language_ruby = {{ $languageRuby }}
language_scala = {{ $languageScala }}
language_rust = {{ $languageRust }}
work = {{ if ne .work_username "" }}true{{ else }}false{{ end }}
