if command -v lazygit >/dev/null 2>&1; then
	alias g='lazygit'
fi

if command -v yazi >/dev/null 2>&1; then
	alias e='yazi'
fi

{{- if .taskwarrior }}
alias t='task'
alias ta='task add'

if command -v taskwarrior-tui >/dev/null 2>&1; then
	alias tt='taskwarrior-tui'
fi
{{- end }}
